.main {
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
}
.header {
    background-color: var(--base-color);
}
.header .wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
}
.header h1 {
    font-size: 20px;
    font-weight: 400;
}
.header ul {
    display: flex;
    align-items: center;
}
.header ul li {
    position: relative;
    width: 20px;
    height: 20px;
}
.introduction {
    background-color: var(--base-color);
    padding: 4rem 0;
}
.introduction .job {
    font-size: 14px;
    color: royalblue;
}
.introduction .name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 4rem;
}

