.wrapper {
  border-radius: 0.5rem;
  border: 1px solid rgb(195, 218, 254);
  padding: 1rem;
  margin-bottom: 10px;
}
.wrapper:hover {
  border: 1px solid var(--base-dark-color);
}

.title {
  font-weight: 700;
}

.serviceUrl {
  color: var(--base-dark-color);
  font-size: 0.75rem;
}

.wrapper > p:first-of-type {
  margin-top: 0.5rem;
}

.wrapper > p:last-of-type {
  margin-bottom: 0.5rem;
}

.detailUrl {
  color: var(--base-dark-color);
  font-size: 0.8rem;
}
